.about_section {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    background-color: #0000004d;
}

.about_title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_heading {
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    color: white;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about_story {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: rgb(41, 40, 40);
    background: radial-gradient(circle, rgb(0 0 0 / 93%) 49%, rgb(83 83 83 / 62%) 100%);
}

.about_background {
    width: 50%;
}

.story_content {
    height: 280px;
    width: 550px;
    position: absolute;
    top: 15%;
    left: 43%;
    background-color: rgb(108 107 107 / 49%);
    padding: 40px;
    z-index: 2;
    color: white;
}

.story_heading {
    font-size: 50px;
    display: block;
    margin-bottom: 0;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    line-height: 1;
    margin-bottom: -21px;
}

.story_subheading {
    z-index: -1;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.about_image {
    width: 50%;
}

.testimony_section {
    position: relative;
    height: 590px;
    width: 100%;
}

.testimony_container {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #15141424;
    ;
    z-index: 1;
}

.testimony_heading {
    position: absolute;
    z-index: 3;
    top: 15%;
    right: 45%;
    font-size: 50px;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    text-shadow: 1px 1px 2px black;
}

.testimony_subheading {
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 39%;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
}

.testimony_boxes {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;
}

.box1 {
    height: 190px;
    width: 20%;
    background: #d9ab6b;
    padding: 2em;
    color: #fff;
}

.box2 {
    height: 270px;
    width: 20%;
    background: #c49b63;
    padding: 2em;
    color: #fff;
}


.box3 {
    height: 230px;
    width: 20%;
    background: #d9ab6b;
    padding: 2em;
    color: #fff;
}

.box4 {
    height: 190px;
    width: 20%;
    background: #c49b63;
    padding: 2em;
    color: #fff;
}

.box5 {
    height: 240px;
    width: 20%;
    background: #d9ab6b;
    padding: 2em;
    color: #fff;
}

.box_content {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.user {
    padding-right: 20px;
}

.menu_sample {
    height: 600px;
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    padding: 7em 0;
    justify-content: center;
    align-items: center;
}


.menu_sample_details {
    width: 40%;
    color: white;
    text-align: right;
    padding-right: 3rem;
}

.menu_sample_images {
    width: 35%;
    display: grid;
    gap: 35px;
    grid-template-rows: auto auto;
    grid-template-columns: 240px 240px;
}

.menu_image {
    height: 240px;
}

.menu_sample_heading {
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    line-height: 1;
    margin-bottom: -21px;
}

.menu_sample_subheading {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}

.statistics {
    height: 400px;
    position: relative;
}

.statitstics_background {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.img_container {
    border: 1px solid #ff6a00;
    height: 80px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        width 1s,
        height 1s,
        background-color 1s,
        rotate 1s;
}

.statitstics_image {
    height: 200px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.statitstics_number {
    font-weight: 400;
    font-size: 30px;
    color: #c49b63;
}

.statitstics_text {
    font-weight: 380px;
    font-size: 14px;
    color: #bfbfbf;
    text-shadow: 1px 1px 2px black;

}

.img_container:hover {
    background-color: white;
    rotate: 360deg;
    cursor: pointer;
}